
footer {
    padding: 50px 0 40px;

    .copyright {
        margin-bottom: 2em;
    }

    .icons {
        a {

            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            border-radius: 50%;
            background: #186CDA;
            display: inline-block;
            font-size: 20px;
            height: 3.8rem;
            line-height: 3.8rem;
            margin: 10px;
            width: 3.8rem;
        }
        i {
            color: #fff;
        }
    }
    
}