
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
}

.weight--300 {
    font-weight: 300;
}

.box-dropshadow {
    -moz-box-shadow: 0 40px 77px 0 rgba(0, 0, 0, 0.1), 0 27px 24px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 40px 77px 0 rgba(0, 0, 0, 0.1), 0 27px 24px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 40px 77px 0 rgba(0, 0, 0, 0.1), 0 27px 24px 0 rgba(0, 0, 0, 0.1);
}

.btn-dropshadow {
    -moz-box-shadow: 0 17px 50px 0 rgba(0, 0, 0, 0.1), 0 12px 15px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 17px 50px 0 rgba(0, 0, 0, 0.1), 0 12px 15px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 17px 50px 0 rgba(0, 0, 0, 0.1), 0 12px 15px 0 rgba(0, 0, 0, 0.1);
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    min-height: 100vh;
}

a {
    color: #186CDA;
}

a:hover {
    text-decoration: none;
}

.container {
    padding-bottom: 2em;
}

#wrapper {
    flex: 1;
    padding-bottom: 3em;
}

p {
    margin-bottom: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    margin-bottom: 1em;
    margin-top: 1.8em;
}

.hanchor {
    font-size: 70%;
    visibility: hidden;
    color:silver;
}

h1:hover a, h2:hover a, h3:hover a, h4:hover a {
    visibility: visible
}

.btn {
    cursor: pointer;
    padding: .6em 1.3em;
}

.btn.btn-xs {
    padding: .8em 2em;
}

.btn .fa {
    margin-left: 5px;
}

.btn-full {
    width: 100%;
    height: 100%;
}

.btn-white {
    background: #fff;
    color: #186CDA;
}

.btn-white:hover,
.btn-white:focus,
.btn-white:active {
    background: rgba(255, 255, 255, 0.9);
}

.logo__white {
    display: none;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.5rem;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
    margin-top: 0;
}

.blog-list .well-sm {
    margin: 4rem 0;
}

.blog-item__header {
}

.blog-item__sidebar{
    margin: 4px 0 4px 0;
}

.blog-item__title {
    font-size: 1.5rem;
    margin-bottom: .6rem;
}

.blog-item__count {
    margin: 0 0 0 5px;
    opacity: .6;
}

.blog-single .tags-sidebar {
    font-size: .9rem;
}

.tags-sidebar .list-unstyled {
    padding-top: .5rem;
}

.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 85%;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    background: #999;
}

.sidebar {
    line-height: 40px;
    margin: 50px 0;
}

.sidebar .item {
    border-radius: 3px;
    display: block;
    margin: 5px 0;
    padding: 0 15px 0 33px;
    width: 100%;
}

.sidebar .active,
.sidebar .item:hover {
    background: #f5f5f5;
}

.sidebar a.active,
.sidebar a:hover {
    background: #f5f5f5;
}

.sidebar a.active {
    font-weight: 600;
}

.sidebar .fa {
    margin-left: -24px;
    text-align: center;
    width: 20px;
}

.sidebar .sub-menu {
    display: none;
    font-size: .95em;
    line-height: 35px;
    margin: 0 0 5px;
    padding-left: 20px;
    width: 100%;
}

.sidebar__menu-toggle {
    background: #f5f5f5;
    cursor: pointer;
    display: none;
    height: 50px;
    line-height: 50px;
    margin: 0 -15px;
    opacity: .6;
    padding: 0 15px;
}

.sidebar__menu-toggle .fa {
    font-size: 20px;
    margin-top: 15px;
}


table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

table>thead>tr>th,
table>thead>tr>td,
table>tbody>tr>th,
table>tbody>tr>td,
table>tfoot>tr>th,
table>tfoot>tr>td {
    padding: 8px;
    line-height: 1.42857;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
}

table>caption+thead>tr:first-child>th,
table>caption+thead>tr:first-child>td,
table>colgroup+thead>tr:first-child>th,
table>colgroup+thead>tr:first-child>td,
table>thead:first-child>tr:first-child>th,
table>thead:first-child>tr:first-child>td {
    border-top: 0;
}

table>tbody+tbody {
    border-top: 2px solid #ddd;
}

table>tbody>tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}

.doc-content {
    margin: 50px 0 0;
}

.doc-content .edit-github {
    padding-top: 0.9rem;
}

.doc-content .doc-title {
    display: inline-block;
}

.sidebar+.doc-content {
    padding-left: 50px;
}

.doc-content img {
    margin: 1em 0;
    max-width: 100%;
}

.doc-content pre {
    background: #f5f5f5;
    border-radius: 5px;
    padding: 14px;
}

.doc-content table {
    .table-striped;
}

.subscribe-box {
    border: 1px solid rgba(221, 221, 221, 0.3);
    padding: 50px 50px 40px;
}

.subscribe-form__input {
    background: #F7F8F9;
    height: 60px;
}

@media (max-width: 992px) {
    .sidebar__menu-toggle {
        display: block;
    }

    .sidebar {
        border-radius: 3px;
        border: 1px solid #ddd;
        margin: 50px 40px 0;
    }

    .sidebar__links {
        background: #fff;
        display: none;
    }
}

@media (max-width: 768px) {
    header {
        padding: 0 20px;
    }

    .doc-content {
        padding: 0 20px;
    }

    .header__links--right {
        background: #fff;
        border-bottom: 1px solid #ddd;
        color: #000;
        display: none;
        float: none;
        line-height: 50px;
        margin: 0 -15px;
    }

    .header__links--right li {
        display: block;
    }

    .header__links--right li.active {
        background: #f5f5f5;
    }

    .header__links--right li.active a {
        color: #000 !important;
    }

    .header__links--right a {
        display: block;
    }

    .header__menu-toggle {
        display: block;
    }

    .homepage-boxes__box {
        border-bottom: 1px solid #ddd;
        margin: 0 auto;
    }

    .homepage-boxes {
        margin-top: -13em;
    }
}

.steps-row {
    display: flex;
    margin: 3rem 0;
}

.steps-number {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: 1px solid #007bff;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    margin-right: 35px;
    color: #007bff;
}

.steps-header {
    margin-bottom: 10px;
}

.alert {
    font-size: 95%;
}

@media (max-width: 768px) {
    .blog-list .blog-item__date {
        float: none;
        display: block;
        margin-top: 1.5rem;
    }
}

blockquote {
    margin: 0 0.5rem;
    padding: 0 0.5rem;
    border-left: 1px solid grey;
}

pre {
    padding: 0.5rem;
}

ol > li + li {
    margin-top: 1rem;
}
