.homepage {
    .bg {
        -moz-transform: skew(0deg, -5deg);
        -ms-transform: skew(0deg, -5deg);
        -webkit-transform: skew(0deg, -5deg);
        transform: skew(0deg, -5deg);
        background-image: linear-gradient(-135deg, #1ba4f7 0%, #4641ff 100%);
        height: 100%;
        left: 0;
        position: absolute;
        top: -15%;
        width: 100%;
        &::before {
            background: url("../../../assets/introBgTop.svg") no-repeat;
            content: "";
            height: 300px;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }
        &::after {
            background: url("../../../assets/introBgBottom.svg") no-repeat;
            bottom: 0;
            content: "";
            height: 300px;
            position: absolute;
            right: 0;
            width: 600px;
        }
    }
    .intro {
        color: #fff;
        padding-top: 8em;
        padding-bottom: 14em;
        position: relative;
    }
    h1 {
        margin-bottom: 1.7rem;
    }
    .search {
        margin: 4em auto 0;
        max-width: 850px;
        .input {
            position: relative;
            -moz-border-radius: 8px;
            -webkit-border-radius: 8px;
            border-radius: 8px;
            background: rgba(255, 255, 255, 0.15);
            border: none;
            color: #fff;
            font-weight: 300;
            height: 58px;
            outline: none;
            padding-left: 4em;
            width: 100%;
            height: 100%;
            img {
                left: 35px;
                position: absolute;
                top: 18px;
            }
            &::-webkit-input-placeholder {
                color: #fff;
            }
            &::-moz-placeholder {
                color: #fff;
            }
            &::-moz-placeholder {
                color: #fff;
            }
            &::-ms-input-placeholder {
                color: #fff;
            }
        }
    }

    .boxes {
        display: flex;
        margin: -150px auto -150px;
        position: relative;
        z-index: 5;
        width: 60%;
        .row {
            margin: auto;
            justify-content: center;
        }
        .box {
            background: #fff;
            padding: 2em 2em 3em;
            border-radius: 16px;
            flex-basis: 25%;
            margin: 0px 15px 15px 0px;

            .icon {
                height: 80px;
                line-height: 80px;
                margin-bottom: 20px;
            }
        }
    }
}
