<div class="homepage">
    <div class="bg"></div>
    <div class="intro text-center">
        <div class="container-fluid">
            <h1 class="weight--300">Documentação para desenvolvedores Contaure</h1>
            <h5 class="weight--300">Tudo o que você precisa para desenvolver está aqui.</h5>
            <div class="homepage-search row">

            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="boxes text-center">
            <div class="row">
                <div class="col-md-4 box box-dropshadow">
                    <div class="icon">
                        <img src="../../../assets/contribute-icon.svg" width="57px" height="53px" alt="">
                    </div>
                    <h4>Modulo 1</h4>
                    <p>
                        Como desenvolver o módulo 1
                    </p>
                    <a href="#"
                        class="btn btn-primary btn-shadow btn-xs">Iniciar</a>
                </div>
                <div class="col-md-4 box box-dropshadow">
                    <div class="icon">
                        <img src="../../../assets/integrate-icon.svg" width="57px" height="53px" alt="">
                    </div>
                    <h4>Modulo 1</h4>
                    <p>
                        Como desenvolver o módulo 2
                    </p>
                    <a href="#"
                        class="btn btn-primary btn-shadow btn-xs">Iniciar</a>
                </div>
                <div class="col-md-4 box box-dropshadow">
                    <div class="icon">
                        <img src="../../../assets/extend-icon.svg" width="57px" height="53px" alt="">
                    </div>
                    <h4>Modulo 1</h4>
                    <p>
                        Como desenvolver o módulo 3
                    </p>
                    <a href="#"
                        class="btn btn-primary btn-shadow btn-xs">Iniciar</a>
                </div>
            </div>
        </div>
    </div>
</div>