<header>
    <a href="https://contaure.com.br"><img src="../../../assets/logo_contaure.png" class="logo-colorida" alt="Contaure"
            width="212px"></a>
    <a href="https://contaure.com.br">
        <img src="https://contaure.com.br/wp-includes/images/contaure/logo-contaure.png"
            class="logo-branca" alt="Contaure Logo" width="212px"></a>
    <div class="togle">
        <i class="fa fa-bars"></i>
    </div>
    <ul class="links-right">
        <li class="active"><a href="localhost:4200">Inicio</a></li>
        <li><a class="external" target="_blank" href="https://contaure.com.br">Site</a></li>
        <li><a class="external" target="_blank" href="https://blog.contaure.com.br">Blog</a></li>
        <li class="cta"><a class="external" target="_blank" href="https://app.contaure.com.br/#/criar-conta">Cadastre-se Grátis</a></li>
        <li><a class="external" target="_blank" href="https://app.contaure.com.br/">Entrar</a></li>
    </ul>
</header>