header {
    font-weight: 300;
    font-size: 16px;
    height: 45px;
    line-height: 45px;
    padding: 0 30px;
    position: relative;
    z-index: 5;
    margin-top: 15px;
    
    background: transparent;
    color: #fff;
    width: 100%;

    .links-right {
        float: right;
        list-style: none;
        padding: 0;
        position: relative;
        z-index: 5;
        li {
            display: inline-block;
            &.active {
                border-bottom: solid 2px #ffffff;
            }
            &.cta {
                border-radius: 6px !important;
                background-color: #ffffff !important;
                font-weight: 600 !important;
                a {
                    color: #186cda !important;
                }
            }
            a {
                color: inherit;
                padding: 0 20px;
            }
            &:hover,
            &:focus {
                border-radius: 6px;
                background-color: #cad5ec;
                font-weight: 400;
                color: #186cda;
            }
        }
    }
    .togle {
        cursor: pointer;
        display: none;
        float: right;
        font-size: 20px;
        opacity: 0.6;
        padding: 0 10px;
    }

    .logo-branca {
        display: inline;
    }

    .logo-colorida {
        display: none;
    }
}